header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    float: left;
  }
  
ul a {
    list-style: none;
	margin: 0 auto;
	padding: 0;
}

  li a {
    display: block;
    color: rgba(0, 0, 0, 0.747);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  li a:hover {
    background-color: transparent;
  }

  .NavLST {
    float: left;
      font-family:  Arial, Calibri;
  } 
  
  body {
    background-image: url("../images/Backgrounds/bacbgroud1.png ");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: top;
  }

  .bodytext {
    top: 250px;
    width:70%;
    height:300px;
    position: absolute;
    color: black;
    text-align: center;
  }

  .logo {
    float:left;
    margin-top: 8px;
    margin-left: 10px;
  }

  .first{
    top: 250px;
    width:70%;
    height:300px;
    position: relative;
  }
.second{
   width:40%;
   height:200px;
 position: relative;
   top: 9000px;
}

.h1c {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.TECHH2 {
  font-size: xx-large;
  font-family: 'Mulish', sans-serif;
}

div.ptech {
  text-align: center;
  top: 250px;
  position: relative;
  color: black;
  width: 500px;
  margin-right:auto;
  padding-left: 5%;
  font-size: 25px;
  /*border: 3px solid #73AD21;*/
}

.EthicalA {
  display: block;
  margin-left: auto;
  position: relative;
  right: 80px;
  bottom: 225px;
}