header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    float: left;
  }
  
ul a {
    list-style: none;
	margin: 0 auto;
	padding: 0;
}

  li a {
    display: block;
    color: rgba(0, 0, 0, 0.747);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  li a:hover {
    background-color: transparent;
  }

  .NavLST {
    float: left;
      font-family:  Arial, Calibri;
  } 
  
  body {
    background-image: url("../images/Backgrounds/bacbgroud1.png ");
    background-repeat: repeat;
    background-size:cover;
    background-attachment: top;
    margin: 0;
    height: 100%;
  }

  .bodytext {
    top: 250px;
    width:70%;
    height:300px;
    position: absolute;
    color: black;
    text-align: center;
  }

  .logo {
    float:left;
    margin-top: 8px;
    margin-left: 10px;
  }

.h1c {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.TECHH2 {
  font-size: xx-large;
  font-family: 'Mulish', sans-serif;
}

div.ptech {
  text-align: center;
  top: 250px;
  position: relative;
  color: black;
  width: 650px;
  margin-right:auto;
  padding-left: 10%;
  font-size: 30px;
  /*border: 3px solid #73AD21;*/
}

div.pOP {
  text-align: center;
  top: 150px;
  position: relative;
  color: black;
  width: 1000px;
  margin-right:auto;
  padding-left: 30px;
  font-size: 25px;
}

div.pCH {
  text-align: center;
  top: 200px;
  position: relative;
  color: black;
  width: 800px;
  margin-right:auto;
  padding-left: 7%;
  font-size: 25px;
}

.EthicalA {
  display: block;
  margin-left: auto;
  position: relative;
  right: 80px;
  bottom: 275px;
}

.TESLA {
  display: block;
  margin-left: auto;
  position: relative;
  right: 120px;
  bottom: 525px;
  width: 750px;
}

div.Prisk {
  text-align: center;
  top: 150px;
  position: relative;
  color: black;
  margin-right:auto;
  margin-left: auto;
  font-size: 30px;
}

.BRAIN {
  display: block;
  margin-left: auto;
  position: relative;
  right: 120px;
  bottom: 400px;
  width: 750px;
}

.pER {
  position: relative;
  top: 200px;
  padding-left: 10px;
  font-size: 25px;
  /*border: 3px solid #73AD21;*/

}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  position:relative;
  top: 225px;
  padding-left: 10px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}
caption {
  padding: 10px;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

  .REFRENCES {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .REFRENCESUL {
    display: table;
    margin: 0 auto;
  }

  .RUBRIC {
    display: block;
    margin-right: auto;
    position: relative;
    left: 80px;
    top: 250px;
    width: 750px;
  }

  .RUBRIC2 {
    display: block;
    margin-left: auto;
    position: relative;
    right: 120px;
    bottom: 516.5px;
    width: 750px;
  }